/*фон героя и футера /* NAVY BLUE */
/* background: #2E2F42; */

/* основной фон */
/*  background: #E5E5E5;*/

/* фон наша команда */
/* background: #F4F4FD;/* 

/* цвет шапки
background: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
/* CORNFLOWER */

/* цвет web верх
 /*color: #4D5AE5; IRIS */

/* studio от лого верх
 /*color: #2E2F42;NAVY BLUE */

/* цвет studio низ
/* color: #F4F4FD;CLOUD */

/* заголовок героя 
color: #FFFFFF; */
/* текст футера
  color: #E7E9FC; */

/*  кнопки 2 стр
    color: #4D5AE5; */

:root {
    /* H 1 2 3 */
    --primary-text-color: #2E2F42;
    /* P */
    --title-text-color: #434455;
    /* BTN */
    --button-color: #4D5AE5;
    /*  */
}

body {
font-family: 'Roboto', sans-serif;
color: #434455;
background-color: #FFFFFF;
}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}

/* HEADER */
.header {
    background-color: #FFFFFF;
}
.header .logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;

    text-transform: uppercase;
}
.header .logos {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

.header-list .link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.header-list .link:hover,
.header-list .link:focus {
    color: #404bbf
}
.address-list .link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
}
.address-list .link:hover,
.address-list .link:focus {
    color: #404bbf;
}
/* HERO */
.hero-section {
    background-color: #2E2F42;
}
.hero .subject {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}
.hero-section .btn {
    background-color: #4D5AE5
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.hero-section .btn:hover,
.hero-section .btn:focus {
    background-color: #404BBF;
}
/* SECTION */
.section {
    background: #E5E5E5;
}

.feature-list .title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
.feature-list .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* IMAGES */

.section-images .list {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
}

/* OUR TEAM */
.section-team {
    background-color: #F4F4FD;
}
.team .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--primary-text-color);
}
.team .subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

/* SECTION BUTTON META*/
.meta .navigation {
    overflow: hidden;
}
.meta-list .btn {
    height: 48px;
        background: #F4F4FD;
        border: 1px solid #E7E9FC;
        border-radius: 4px;
    
}

/* WORK */
.work .title {
    color: var(--primary-text-color);
}
.work .subtitle {
    color: var(--primary-text-color);
}

/* FOOTER */
.footer {
    background-color: var(--primary-text-color);
}
.footer .stile {
        text-transform: uppercase;
}
.footer .logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}
.footer .logos {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.16;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}
.footer .content {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}






