:root {
    /* H 1 2 3 */
    --primary-text-color: #2E2F42;
    /* P */
    --title-text-color: #434455;
    /* BTN */
    --button-color: #4D5AE5;

}

body{
font-family: 'Roboto', sans-serif;


}

.list {
    list-style: none;
}
.link {
    text-decoration: none;
}



/*фон героя и футера /* NAVY BLUE */
/* background: #2E2F42; */ 

/* основной фон */
/*  background: #E5E5E5;*/

/* фон наша команда */
/* background: #F4F4FD;/* 

/* цвет шапки
background: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
/* CORNFLOWER */

/* цвет телеф и почта
/* color: #434455; SLATE */

/* цвет web верх
 /*color: #4D5AE5; IRIS */

/* studio от лого верх
 /*color: #2E2F42;NAVY BLUE */

/* цвет studio низ
/* color: #F4F4FD;CLOUD */

/* заголовок героя 
color: #FFFFFF; */
/* текст футера
  color: #E7E9FC; */

/*  кнопки 2 стр
    color: #4D5AE5; */

/* HEADER */
.header {
    background-color: #FFFFFF;
}
.header-list .link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
}
.header-list .link:hover,
.header-list .link:focus{
    color: #b41010
}
.address-list .link {
    color:var(--title-text-color);
}

/* HERO */
.hero-section {
    background-color: #2E2F42;
}
.hero .subject {
    color: #FFFFFF;
}


/* SECTION */
.section {
    background: #E5E5E5;
}
.feature-list .title {
    color: var(--primary-text-color):
}
.feature-list .subtitle {
    color: var(--title-text-color);
}

/* IMAGES */

.section-images {
    color: var(--primary-text-color);
}

/* OUR TEAM */
.team {
    background-color: #F4F4FD;
}
.team .title {
    color: var(--primary-text-color):
}
.team .subtitle {
    color: var(--title-text-color);
}

/* FOOTER */
.footer {
    background-color: #2E2F42;
}
.footer .content {
    color: #E7E9FC;
}






